# App Configuration
SECRET_KEY=sk_dev_a8f5f167f44f4964e6c998dee827110c

# PostgreSQL Database Configuration
# For local development
DB_HOST=localhost
DB_PORT=5432
DB_NAME=only_db
DB_USER=postgres
DB_PASSWORD=admin1234

# For production (uncomment and update when deploying)
# DATABASE_URL=postgresql://username:password@hostname:port/database_name

# Stripe Configuration (Test Keys)
STRIPE_SECRET_KEY=sk_test_51SBGRFA3Xw82lRlh6xutx1p9SqHtp4ilApW5IJox6Repd53kAxRoMNELJDKlrhEe0YaQUpX3de0YN1BBoONTrSij00uymkBE0k
STRIPE_PUBLISHABLE_KEY=pk_test_51SBGRFA3Xw82lRlh0RJIc9S7s3VL0DzsOhrpMohObh33C5VHjnYeMcRyqh8htK3ZS3Po1gF2sHiXx6C7SJNiQFql00qYiolhN6

# Email Configuration (Gmail)
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME='fromisgood@gmail.com'
MAIL_PASSWORD='deui rrwc wdlr rrdc'
MAIL_DEFAULT_SENDER='fromisgood@gmail.com'